*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    padding: 10px;
    background-color: crimson;
    color: #fff;
}

header h1{
    padding-left: 20px;
}

main{
    width: 80vw;
    margin: 0px auto;
    margin-top: 10px; 
    border: 1px solid #adadad;   
    border-radius: 5px;
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    flex-wrap: wrap ;
    
}

main section{
    box-shadow: 5px 3px 19px -7px rgba(0,0,0,0.67);    
}

.subtittle-image-container{
    display: flex;
    flex-direction: row;
}

.subtitle-container{
    width: 250px;
    margin-bottom: 10px;
}

main section .subtitle-Section{
    font-size: 2.2rem;
    margin-bottom: 10px;    
    align-self: flex-start;
}

main section .instruction-section{    
    font-size: 1.7rem;
    margin-bottom: 10px;
}

section form{
    padding-left: 10px;
}

.section-Figuras{     
    margin: 15px;
    padding: 20px;
    padding-left: 25px;
    Min-width: 320px;
    max-width: 400px;
    min-height: 20px;
    max-height: 290px;
    border-radius: 10px;
}

 .imagen{   
    width: 64px;
    height: 64px;
    margin-bottom: 20px;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#imagen-Cuadrado{
    background-image: url(/images/cuadrado.png);
}

#form-cuadrado{
    margin-bottom: 10px;
}

#section-Triangulo{    
    Min-width: 320px;
    max-width: 400px;
    max-height: 450px;
}

#imagen-Triangulo{
    background-image: url(/images/triangulo.png);
}

#form-Triangulo label{
    display: inline-block;
    width: 135px;
    margin-bottom: 9px;
}

#form-Triangulo input{
    margin-bottom: 8px;
}

#imagen-Circulo{
    background-image: url(/images/circulo.png);
}

#isoceles label{
    display: inline-block;
    margin-bottom: 8px;
}

section form .actionButtons{
    width: 134px;
    padding: 5px;
    margin-left: 15px;
    margin-top: 20px;    
    border: none;
    border-radius: 6px;
    background-color: #4870f5;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

form input{
    border: none;
    border-radius: 5px;
    background-color: #6666662a;
    height: 25px;
    margin-bottom: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] { -moz-appearance:textfield; }

@media (max-width: 1080px){
    .section-Figuras{    
        width: 360px;        
    }

    section form .actionButtons{
        margin-left: 5px;
        width: 125px;
        font-size: 1.2rem;
    }
}

@media(max-width: 980px){
    .section-Figuras{    
        width: 400px;        
    }
}

@media (max-width: 550px){
    main{
        width: 95vw;
        margin-bottom: 15px;
    }
}

@media (max-width: 420px){
    section form .actionButtons{
        margin-left: 2px;      
    }
    
    #inputCuadrado{
        width: 180px;
    }
}

